@import "./fonts.css";

/* BASIC CONF */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
}

/* BASIC CONF */

/* UNIQUE CONF */
.row {
    display: flex;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333%
}

.col-3 {
    width: 25%;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 10px;
}

.section_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.section_desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.rounded-btn {
    padding: 10px 46px;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.h100 {
    height: 100%;
}

/* UNIQUE CONF */

/* HEADER SECTION */
.header {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 36px;
}

.header_logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-right: 117px;
}

.header_link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 21px;
}

/* HEADER SECTION */

/* HERO SECTION */
.hero {
    height: 100vh;
    padding-top: 184px;
    background: url("../img/hero_bg.png") no-repeat center/cover;
}

.hero_title {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    width: 509px;
}

.hero_desc {
    font-size: 20px;
    line-height: 30px;
    width: 376px;
    text-align: left;
    margin: 35px 0;
}

.hero_filled {
    border: 1px solid #FFA62B;
    background: #FFA62B;
    color: #FFFFFF;
    margin-right: 10px;
}

.hero_hollow {
    border: 1px solid #00A0C1;
    color: #00A0C1;
}

.hero .container {
    position: relative;
    height: 100%;
}

.hero .row {
    position: absolute;
    width: 100%;
    bottom: -80px;
    gap: 30px;
}

.hero_card {
    height: 210px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;
    padding: 35px 0 35px 40px;
    transition: 0.6s;
}

.hero_sm-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 10px 0;
    transition: 0.6s;
}

.hero_sm-desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    transition: 0.6s;
}

.hero_card svg {
    transition: 0.6s;
    fill: #00A0C1;
}

.hero_card:hover {
    background: #00A0C1;
}

.hero_card:hover svg {
    fill: #FFF;
}

.hero_card:hover .hero_sm-title,
.hero_card:hover .hero_sm-desc {
    color: #FFF;
}

/* HERO SECTION */
/* REASON SECTION */
.reason {
    padding: 211px 0 80px;
}

.reason_title {
    text-align: center;
    text-transform: uppercase;
}

.reason_desc {
    width: 511px;
    margin: 10px auto 50px;
}

.reason .row {
    gap: 40px;
}

.reason_card {
    height: 209px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.reason_number {
    margin: 10px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.reason_md-desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
}

/* REASON SECTION */

/* PRACTICE SECTION */
.practice {
    padding: 125px 0 81px;
}

.practice_title {
    text-align: center;
}

.practice_desc {
    margin: 10px 0 45px;
}

.practice .row {
    gap: 40px;
}

.practice_card {
    background: #fff;
}

.practice_content {
    padding: 30px 29px;
    height: 203px;
}

.practice_sm-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.practice_card .section_desc {
    text-align: left;
    margin-top: 15px;
}

/* PRACTICE SECTION */

/* ABOUT SECTION */
.about {
    padding: 100px 0;
    background: #FFFFFF;
}

.about_title {
    text-align: center;
    width: 477px;
    margin: 0 auto;
}

.about_desc {
    width: 511px;
    margin: 15px auto 100px;
}

.about_video {
    position: relative;
    width: 597px;
    height: 442px;
}

.about_video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}

.about_video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.about_video svg {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.about_content {
    padding-top: 20px;
    width: 333px;
}

.about_content .section_desc {
    text-align: left;
    margin: 10px 0 20px;
}

.about_content .d-flex {
    margin-top: 30px;
}

.about_content svg {
    margin-right: 20px;
}

.about_sm-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 5px;
}

.about_sm-desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

/* ABOUT SECTION */

/* CLIENTS SECTION */
.clients_top {
    height: 262px;
    background: #FAFAFA;
}

.clients_grid {
    height: 175px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    grid-column-gap: 30px;
}

.clients_bottom {
    position: relative;
    height: 77px;
    background: #252B42;
}

.clients_form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    background: #16697A;
    width: 986px;
    height: 124px;
    padding: 0 50px;
}

.clients_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    width: 270px;
}

.clients_inp {
    width: 333px;
    border-radius: 5px 0 0 5px;
    height: 58px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    background: #F9F9F9;
    padding: 0 20px;
    border: 1px solid #E6E6E6;
    outline: none;
}
.clients_inp:placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.clients_subscribe {
    background: #FFA62B;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    width: 117px;
    height: 58px;
    margin-left: -1px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
/* CLIENTS SECTION */

/* CONTACT  SECTION*/

.contact {
    padding: 80px 0;
    background: #F3F3F3;
}
.contact_title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    padding-bottom: 10px;
}
.contact_desc {
    margin: 15px auto 100px;
    width: 470px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}
.contact_card {
    height: 333px;
    background-color: #fff;
    padding: 50px 40px;
    margin-top: 30px;
    text-align: center;
}
.contact svg {
    padding-bottom: 15px;
}
.middle {
    height: 393px;
    background: #252B42;
    padding: 80px 40px;
    text-align: center;
    color: #FFFFFF;
}
.middle .section_desc {
    color: #FFFFFF;
}
.middle .rounded-btn {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 25px;
}
.contact_name {
    padding-top: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}
.middle .contact_name {
    color: white;
}
.contact_btn {
    border: 1px solid #FFA62B;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFA62B;
    margin-top: 25px;
}
/* CONTACT  SECTION*/
/* FOOTER SECTION */
.footer {
    
}
.footer_in {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.footer_desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: left;
}
.contact_us {
    height: 142px;
}
.footer_btn {
    padding: 15px 40px;
    background: #FFA62B;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.site_map {
    padding: 50px 0;
    height: 272px;
    background: #16697A;
}
.footer_nav {
    margin-right: 63px;
}
.footer_link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer_flex{
    display: flex;
}
.footer_link svg {
    margin-right: 10px;
}
.social_icons {
    padding: 25px 0;
    background: #FAFAFA;
}

.footer_icon {
    display: inline-block;
    margin-left: 20px;
    font-size: 24px;
}
.footer_icon .fa-facebook-square {
    color: #335BF5;
}
.footer_icon .fa-instagram-square {
    color: #E61F5A;
}
.footer_icon .fa-twitter-square {
    color: #21A6DF;
}
.footer_icon .fa-youtube-square {
    color: #E42F08;
}
/* FOOTER SECTION */